/*Background*/
body {
  background-image: url("../images/asanoha-400px.png");
  background-repeat: repeat;
}

/*This is for my pic specific for the About page*/
#myface {
  float: left;
  padding: 10px;
  max-width: 100%;
  height: auto;
}

/*This is the teal bar that goes over the portfolio images*/
.card-text {
  font-size: 24px;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 10 auto;
}

/*Styling for the Footer*/
#sticky-footer {
    flex-shrink: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 1.5;
}
  