/*Background*/
body {
  background-image: url("../images/asanoha-400px.png");
  background-repeat: repeat;
}

html,
body {
  height: 100%;
}

/*Styling for Nav Bar*/
.navbar-brand {
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 28px;
  text-align: center;
  padding: 15px;
  margin: 0; 
}

/*Header Styling*/
h2 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 28px;
  padding: 15px;
  margin: 0;
}

/*Container Styling*/
.container {
  background-color: #ffffff;
  justify-content: space-evenly;
  height: auto;
  position: relative;
  top: 40px;
}

/*This is for my pic specific for the About page*/
#myface {
  float: left;
  padding: 10px;
  max-width: 100%;
  height: auto;
}

p {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    color: #777777;
    border-width: 20px;
    word-wrap: break-word;
    overflow: auto;
    line-height: 1.5;
    padding: 10px;
}

/*This is the teal bar that goes over the portfolio images*/
.card-text {
  font-size: 24px;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}

/*Styling for the Footer*/

#page-content {
  flex: 10 auto;
}

#sticky-footer {
  flex-shrink: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 1.5;
}
  